@import "../assets/theme.scss";

article {
    header {
        h2 { margin-bottom: 0 }
        div.article-date {
            display: flex;
            justify-content: space-between;
            p { color: darken($text, 20%) }
        }
    }
    section {
        h1, h2, h3, h4, h5, h6 {
            margin: 2rem 0 0.1rem 0; font-weight: 500;
            color: $themeSecondary
        }
        h1 { font-size: 1.4em }
        h2 { font-size: 1.2em }
        h3 { font-size: 1.0em }
        h4 { font-size: 1.1em }
        h5 { font-size: 1.0em }
        h6 { font-size: 0.9em }
        p {
            margin: 0.5rem 0 0.5rem 0;
            font-weight: 100
        }
        ul { margin: 0.5rem 0 1rem 2rem }
        ol li { padding-left: 0.6rem }
        p, li {
            & > code[class*="language-"] {
                font-size: 0.9em;
                background: darken($themePrimary, 20%);
                color: lighten($text, 10%);
                padding: 0.15em 0.25em
            }
        }
        img {
            max-width: 100%;
            border-radius: .4em;
        }
        span.gatsby-resp-image-wrapper { margin: 1.5em 0 }
        div.gatsby-highlight {
            margin-bottom: 1.5rem;
        }
        a.header-anchor {
            @media only screen and (max-width: 512px) {
                display: none
            }
            &.before { padding: 0.15rem 0.4rem 0 0 }
            &:hover { border: none }
            svg { fill: darken($themeSecondary, 20%) }
        }
        blockquote {
            margin: 0.6em 0 -0.5em 1em;
            display: flex;
            p {
                color: lighten($themePrimary, 50%);
                font-style: italic;
                padding: 0.2em 0.7em 0.2em 0.9em;
            }
            &::before, &::after {
                font-weight: 900;
                color: lighten($themePrimary, 40%);
                font-size: 2.5em;
                line-height: 1em
            }
            &::before {
                margin-top: 0.6em; content: open-quote
            }
            &::after {
                margin-top: 0.2em; content: close-quote
            }
        }

        table {
            border-collapse: separate;
            border: darken($text, 50%) 1px solid;
            border-spacing: 0;
            border-radius: 0.4rem;
            td, th {
                padding: 0.3em 0.5em;
                border: none;
                border-left: darken($text, 50%) 1px solid;
                border-top: darken($text, 50%) 1px solid;
                &:first-child { border-left: none }
            }
            th {
                text-align: left;
                border-top: none
            }
            thead tr:first-child {
                background: darken($themePrimary, 25%);
                th:first-child { border-radius: 0.4rem 0 0 0 }
                th:last-child { border-radius: 0 0.4rem 0 0 }
            }
            tr:nth-child(even) { background: darken($text, 65%) }
        }

        span.gatsby-resp-image-wrapper { margin-bottom: 0.5em }
        figcaption {
            color: darken($text, 20%);
            font-style: italic;
        }
    }
    footer {
        h4 {
            font-size: large;
            margin-bottom: 0.2em
        }
        button {
            margin: 0 1em 0 0 !important;
            svg circle {
                fill: darken($themePrimary, 10%)
            }
            &:hover svg circle {
                &:hover { fill: $themePrimary }
            }
        }
    }
}
